
/* Estilização das textos, fontes e imagem de fundo*/
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/fundo-de-tudo.png");/*Imagem de fundo da pagina*/
    background-repeat: repeat;

}
.principal {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
  padding: 50px;
}

.principal p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 130%;/*tamanho das fontes dos textos de paragrafos */
  text-align: center; /*centralizando as fontes dos paragrafos*/
  margin: 30px;/*margem fontes dos textos dos paragrafos */
}

h1 {
  font-family:'Manrope','serif';/*fontes dos textos de h1*/
  font-size: 3rem; /*tamanho das fontes dos textos de h1*/
  text-align: center;/*centralizando as fontes dos textos de h1*/
}

h3 {
  font-family: 'Manrope','serif';/*fontes dos textos de h3*/
  font-size: 3rem;/*tamanho das fontes dos textos de h3*/
  text-align: center;/*centralizando as fontes dos textos de h3*/
}

/* Estilização da galeria de imagens */

.fundo{
  background-image: url("../img/fundo-de-tudo.png");/*Imagem de fundo da pagina*/
  background-repeat: repeat;
}
.galeria{
  display: grid;/*Imagens da galeria de foto grid*/
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px;  
  border: 1px solid;
  border-color: transparent;/*borda das imagens, em transparente*/
}

.fotos p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130%;/*tamanho das fontes dos textos de paragrafos */
    text-align: center; /*centralizando as fontes dos paragrafos*/
}

.fotos img {
  object-fit: cover;
  border: 10px solid #8ef0f486;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform 1.2s linear;/*as imagens se movendo em 1.2s*/
  width: 450px; /*largura das imagens em 450px*/
  height: 400px;/*altura das imagens em 450px*/
}

.fotos:hover img {
transform: scale(1.1);
}

.galeria:hover {
  transition: 1.7s;
}

/* Estilização da galeria de videos */
article#video {
  margin-left: 25px;
  gap: 20px;
  padding: 20px;
  margin: 20px; 
  text-align: center;


}
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videos div {
  margin: 3%;
}

#video p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vh;/*tamanho das fontes dos textos de paragrafos */
  text-align: center; /*centralizando as fontes dos paragrafos*/
}


/* Estilização do icones */
.cabecalho {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 10px 20px 5px;
}

/*Estilização dos icones (contato)*/

.icones {
  display: flex;/*icones do footer em flex*/
  justify-content: center;/*centralizar dos icones do footer*/
  align-items: center;/*centralizar dos icones do footer*/
}

button{
  text-align: center;/*botão do auto contraste no centro*/
  border: none;
  color: black;/*botão do auto contraste em preto o texto*/

  background: transparent;/*botão do auto contraste em transparente*/
}
/* Estilização das opções no icones*/
.opcoes img {
  width: 20px;/*largura dos icones em 20px*/
  height: auto;
  margin-left: 5px;/*altura dos icones em 5px*/
}

.gallery-container p {
  font-family: 'Courier New', Courier;
  color: black;
  text-align: center;
  height: auto;
  width: auto;
}

/*Implementando a estilização do auto contraste*/

.high-contrast {
  background-color: #1a1a1a;
  background-image: url("../img/");
}

.high-contrast p{
  color: white;
}

.high-contrast h1{
  color: white;
}

.high-contrast h3{
  color: white;
}

.high-contrast .informacion{
  color: white;
}

.high-contrast .title-central{
  color: white;
}

.high-contrast .menu{
   background-color: #81c9fa;
}

.high-contrast .sobre, .high-contrast .sobre h2 {
  color: #fff;
}

.high-contrast .fundo{
  background-image: url("../img/");
}


/* Estilização do footer*/

a {
color: #000000;
}

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(111, 181, 238);/*cor do footer*/
  color: #000000;
  padding: 20px;/*tamanho do footer*/
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho img {
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilização da logo do footer*/
.cabecalho {
  align-items: center;/*centralizar a logo do footer*/
  margin: 20px;
  justify-content: center;/*centralizar a logo do footer*/
}

.logo img{
display: flex;
padding: 5px;
align-items: center;
justify-content: center;

}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho img {
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/* Estilização da logo do footer*/
.cabecalho {
  align-items: center;/*centralizar a logo do footer*/
  margin: 10px;
  justify-content: center;/*centralizar a logo do footer*/
}

.logo img{
display: flex;
padding: 89px;
justify-content: center;
}
  /* Estilização do footer*/

  footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(111, 181, 238);/*cor do footer*/
    color: #ffffff;
    padding: 20px;/*tamanho do footer*/
  }

.cabecalho {
  display: flex;
  align-items: center;
}

.cabecalho img {
  margin: 10px; 
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  display: flex;
  padding: 89px;
}
